body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft YaHei", 微软雅黑, Tahoma, Helvetica, Arial, 宋体, sans-serif;
}

body{
    background-color: #eee;
}

.nav_bar{
    background-color: rgba(36,41,46,0.85);
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-form{
    width: 28%;
}

.index_title{
    font-size: 1.5em;
    color: rgba(255,255,255,0.3);
}

.back-index{
    font-size: 1.43em;
    padding-left: 3em;
    padding-top: 0.6em;
}

.back-index a{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}

.back-index a:hover{
    color: rgba(255,255,255,0.2);
}

.search{
    position: relative;
    left: 15%;
    width: 100%;
    /*float:right;*/
}

.search input{
    background-color: #3f4448;
    color: #ffffff;
    border-style: none;
}

.search input::placeholder{
    color: rgba(255,255,255,0.55);
}

.search_btn{
    width: 11%;
    height: 32px;
}

.drop_down{
    padding-right: 2.6em;
}

.drop_down a{
    color:#ffffff;
}

.drop_down a:focus{
    background-color: #333;
}

.nav>li>a:hover{
    background-color: #333;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #333;
    border-color: #333;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #333;
}

.setting-panel{
    background-color: rgba(52,51,47, 0.1);
    margin-top:3em;
    border-radius: 0.3em;
}

.setting-tab{
    font-size: 1.6em;
    padding-top: 1.1em;
    padding-left: 1.7em;
    border-style: solid;
    border-color: rgba(51, 51, 51,0.13);
    border-width: 0 0 0.1em;
    width: 100%;
    padding-bottom: 0.4em;
}

.setting-label{
    padding-left: 4.3em;
    padding-top: 0.7em;
    font-size: 1.1em;
}

.time{
    padding-left: 6.45em;
    color: rgba(80,20,20,1);
    font-size: 1.15em;
    text-decoration-line: underline;
}

.input-box{
    width: 20%;
    margin-left: 10em;
    margin-top: 2em;
    font-size: 1.3em;
    height: 16%;
    border-radius: 0.3em;
    background-color: #eee;
}

.input-email{
    width: 20%;
    margin-left: 10.9em;
    margin-top: 2em;
    font-size: 1.3em;
    height: 16%;
    border-radius: 0.3em;
    background-color: #eee;
}

.pwd-tip{
    margin-left: 14.4em;
}

.pwd-tip a{
    color: rgba(210,100,100,1);
    font-size: 1.3em;
    text-decoration-line: underline;
}

.btn-save{
    width:10%;
    font-size: 1.4em;
}

.content-spin{
    border-style: solid;
    border-color: rgba(51, 51, 51,0.13);
    border-width: 0 0 0.1em;
    width: 100%;
    padding-bottom: 3em;
}

.save-spin{
    margin-top: 2em;
    padding-bottom: 2em;
}


/*@media screen and (max-width: 1080px) {*/
    /*a{*/
        /*color: rgba(220, 220, 220, 0.7);*/
        /*font-size:4em;*/
    /*}*/
    /*.tip{*/
        /*font-size:3.5em;*/
    /*}*/
    /*body{*/
        /*font-size: 12px;*/
    /*}*/
/*}*/
