body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft YaHei", 微软雅黑, Tahoma, Helvetica, Arial, 宋体, sans-serif;
}

body{
    background-color: #eee;
}

.nav_bar{
    background-color: rgba(36,41,46,0.85);
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-form{
    width: 28%;
}

.index_title{
    font-size: 1.5em;
    color: rgba(255,255,255,0.3);
}

.back-index{
    font-size: 1.43em;
    padding-left: 3em;
    padding-top: 0.6em;
}

.back-index a{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}

.back-index a:hover{
    color: rgba(255,255,255,0.2);
}

.search{
    position: relative;
    left: 15%;
    width: 100%;
    /*float:right;*/
}

.search input{
    background-color: #3f4448;
    color: #ffffff;
    border-style: none;
}

.search input::placeholder{
    color: rgba(255,255,255,0.55);
}

.search_btn{
    width: 11%;
    height: 32px;
}

.drop_down{
    padding-right: 2.6em;
}

.drop_down a{
    color:#ffffff;
}

.drop_down a:focus{
    background-color: #333;
}

.nav>li>a:hover{
    background-color: #333;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #333;
    border-color: #333;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #333;
}

.category{
    color: rgba(255,255,255,0.7);
    font-size: 1.4em;
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.category a{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    word-break: keep-all;
}

.category span{
    border:1px solid #ffffff;
    border-radius: 5px;
    padding-left: 5px;
    margin-right:20px;
}
.category a:focus{
    background-color: #333;
}

.nav>li>a:hover{
    background-color: #333;
}

.course-navbar{
    width: 17%;
    height: 48em;
    margin-top: 1.4em;
    border-radius: 0.5em;
    background-color: rgba(221,221,221,1);
    position: absolute;
}

.item-box{
    left: 2.5%;
    top: 1.5em;
    height: auto;
    width: 95%;
    color: rgb(0, 0, 0);
    font-size: 1em;
    position: relative;
    float: left;
}

.course-item-box-img{
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1em;
    overflow: hidden;
    border-radius: 1em;
}

.course-item-box-img img{
    width: 17.25em;
}

.course-item-box-title{
    margin-left: 1.2%;
    margin-top: 1.2em;
    text-align: center;
    width: 97%;
    z-index: 0;
    color: rgba(0, 0, 50,0.9);
    font-size: 1.4em;
}

.course-tab-list{
    left: 2.5%;
    top: 4em;
    height: auto;
    width: 95%;
    color: rgb(0, 0, 0);
    font-size: 1em;
    position: relative;
    background-color: rgba(221,221,221,0.8);
    float: left;
    list-style-type: none;
    text-align: center;
}

.course-tab-list li{
    left: -9.2%;
    top: 0.5em;
    height: auto;
    width: auto;
    margin-left: -1.5%;
    font-size: 1.6em;
    position: relative;
    line-height: 3.5em;
    border-style: solid;
    border-color: rgba(51, 51, 51,0.13);
    border-width: 0 0 0.05em;
}

.course-tab-list a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.course-tab-list a:hover{
    color: #00A000;
    text-decoration: none;
}

.current{

    background-color: #55b929;
}

.current a{
    color: #fff;
}

.course-content-container{
    width: 83%;
    left: 17%;
    height: auto;
    position: absolute;
    font-size: 1em;
    top: 5.15em;
}

.course-content-box{
    width: 90%;
    background-color: whitesmoke;
    position: relative;
    left: 5%;
    font-size: 1.8em;
    border-radius: 0.35em;
    padding-bottom: 1em;
}

.discuss-title {
    padding-left: 1%;
    font-size: 0.75em;
    width: 99.2%;
    margin-left: 0.5%;
    color: #0f0f0f;
    line-height: 2.5em;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0.05em;
    border-color: #43474b78;
}

.discuss-title a{
    color: #2a2730;
    text-decoration: none;
}

.discuss-title a:hover{
    color: #00A000;
}

.add-comment-box{
    width: 100%;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0.03em;
    border-radius: 9px;
    border-right-width: 0.03em;
    border-bottom-width: 0.03em;
    border-color: #b0b1b2;
}

.comment-text{
    width: 80%;
    padding-left: 1%;
    margin-top: 1em;
    font-size: 0.9em;
    margin-left: 5%;
    border-radius: 0.5em;
    height: 8.5em;
}

.comment-form{
    height: auto;
    overflow: hidden;
    padding-bottom: 0.5em;
}

.input-box input{
    border-radius: 0.5em;
}

.add-comment-box label{
    font-size: 2em;
    padding-top: 1em;
    color: rgba(78, 47, 13, 0.7);
    font-weight: normal;
}

.btn-comment{
    margin-top: 1em;
    margin-left: 5%;
    margin-bottom:1em;
    width: 10%;
    font-size: 0.5em;
    border-radius: 0.5em;
    background-color:rgba(221,130,98, 0.8);
    color: whitesmoke;
}

.btn-comment:hover{
    color: whitesmoke;
    background-color:rgba(177, 96, 81, 0.8);
    border-color: rgba(177, 96, 81, 0.8);
}

.all-comment-content{
    margin-top: 3.5em;
    font-size: 0.5em;
    width: 100%;
}

.comment-title{
    font-size: 1.5em;
    color: #2a2730;
    border-style: solid;
    border-left-width: 0;
    padding-left: 2%;
    line-height: 2.8em;
    border-right-width: 0;
    border-top-width: 0;
    border-color: burlywood;
    border-bottom-width: 0.005em;
}

.comment-content-box{
    width: 100%;
    margin-top: 1em;
    list-style-type: none;
}

.comment-list{
    width: 100%;
    height: auto;
    list-style-type: none;
}

.comment-list-item{
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0.02em;
    margin-left: -3%;
    border-top-width: 0;
    border-color: rgba(0,0,0,0.6);
    padding-bottom: 1em;
    margin-top: 1em;
}

.comment-item{
    font-size: 1.45em;
    line-height: 2em;
    margin-bottom: 0.5em;
    margin-left: 1%;
}

.comment-item a{
    color: #2a2730;
    text-decoration: none;
}

.comment-item a:hover{
    color: #00A000;
    cursor: pointer;
}

.comment-user{
    font-size: 1.2em;
    margin-left: 1%;
}

.reply{
    float: right;
    margin-right: 0.5%;
    font-size: 1.1em;
}

.reply-num{
    float: right;
    margin-right: 3%;
    font-size: 1.2em;
}

.comment-time{
    margin-left: 1%;
    font-size: 1.2em;
}

@media screen and (max-width: 1080px) {
    .back-index {
        font-size: 1.2em;
        padding-left: 2.1em;
        padding-top: 0.9em;
    }

    .search_btn {
        width: 12%;
        height: 26px;
    }

    .nav_bar .btn {
        display: inline-block;
        padding: 6px 6px;
    }

    .course-tab-list li {
        left: -9.2%;
        top: 0.5em;
        height: auto;
        width: auto;
        margin-left: -15%;
    }

    .course-item-box-img img {
        width: 11em;
    }

    .course-item-box-title {
        top: 6.5em;
    }

    .comment-item {
        font-size: 1.76em;
    }

    .comment-user {
        font-size: 1.55em;
    }

    .comment-time {
        font-size: 1.55em;
    }

    .btn-comment {
        width: unset;
        font-size: 0.7em;
    }

    .reply-num {
        float: right;
        margin-right: 3%;
        font-size: 1.59em;
    }

    .reply {
        float: right;
         margin-right: 0;
        font-size: 1.4em;
    }

    .comment-title {
        font-size: 1.55em;
    }

    .comment-list-item {
        border-bottom-width: 0.046em;
    }
}




