<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/Register.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script type="text/javascript" src="../static/js/register.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <title>会员注册|OnlineLearning</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <div class="register-panel">
                <h1>注册会员</h1>
                <form id="registerForm" method="post">
                    <div class="form-group userInfo" id="userInfo" align="center">
                        <div>
                            <span class="label-span">
                                <label id="name-label" class="setting-label">&nbsp;&nbsp;&nbsp;&nbsp;用户名</label>
                            </span>
                            <input type="text" class="input-box3" id="username" name="username" title="用户名" placeholder="4-20个字符，不包含-和_以外的特殊字符和空格">
                            <div class="tip_div" align="left">
                                <span id="nameTip" class="tip"></span>
                            </div>
                        </div>
                        <div>
                            <span class="label-span">
                                <label id="email-label" class="setting-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱</label>
                            </span>
                            <input type="text" class="input-box3" id="email" name="email" title="邮箱" placeholder=" 请输入邮箱">
                            <div class="tip_div" align="left">
                                <span id="emailTip" class="tip"></span>
                            </div>
                        </div>
                        <div>
                            <span class="label-span">
                                <label id="phone-label" class="setting-label">&nbsp;&nbsp;&nbsp;&nbsp;手机号</label>
                            </span>
                            <input type="text" class="input-box3" id="phone" name="phone" title="手机号" placeholder=" 请输入手机号(11位)">
                            <div class="tip_div" align="left">
                                <span id="phoneTip" class="tip"></span>
                            </div>
                        </div>
                        <div>
                        <span class="label-span">
                             <label for="password1" class="setting-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码</label>
                        </span>
                            <input type="password" class="input-box3" id="password1" name="password1"
                                   placeholder=" 7-30个字符，不包含-和_以外的特殊字符和空格" >
                            <div class="tip_div" align="left">
                                <span id="passwordTip" class="tip"></span>
                            </div>
                        </div>
                        <div style="margin-bottom: 1.5em">
                            <span class="label-span">
                                <label for="password2" class="setting-label">确认密码</label>
                            </span>
                            <input type="password" class="input-box3" id="password2" name="password2"
                                   placeholder=" 请再次输入密码">
                            <div class="tip_div" align="left">
                                <span id="passwordTip2" class="tip"></span>
                            </div>
                        </div>
                        <div class="content-spin"></div>
                        <div class="register-spin" align="center">
                            <input type="submit" class="btn btn-register" value="注&nbsp;&nbsp;&nbsp;&nbsp;册" id="btnSubmit">
                        </div>
                    </div>
                    <div class="small_link">
                        <a href="{{ url_for('login') }}">已有账号？</a>
                    </div>
                    <div style="padding-bottom: 1em;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var name_patten = new RegExp(/^[\u4E00-\u9FA5\uF900-\uFA2D\w-]{3,19}$/);
    var email_patten = new RegExp(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-]{2,})+/);
    var phone_patten = new RegExp(/^1[345678]\d{9}$/);
    var name = '';
    var email = '';
    var phone = '';
    var password = '';
    var pass_repeat = '';

    function changeTip(comp, compTip, info){
        if (info.length === 0){
            $(comp).css("border-color","green");
            $(compTip).css({"color":"green"}).text("");
            return true;
        }else{
            $(comp).css("border-color","red");
            $(compTip).css({"color":"red"}).text(info);
            return false;
        }
    }

    function isNameValid(){
        if(name.length<1)
            return changeTip("#username", "#nameTip", "请输入用户名");
        else if((name.length>20||name.length<4)&&name.length>0)
            return changeTip("#username", "#nameTip", "用户名为4-20个字符");
        else if(!name_patten.test(name))
            return changeTip("#username", "#nameTip", "4-20个字符，不包含-和_以外的特殊字符和空格");
        else {
            $.post("http://119.29.203.44/tg/db_check/username.php", { username:name},
                function(data,status){
                    if(data==='Already existed.') return changeTip("#username", "#nameTip", "该用户名已被占用!");
                    else return changeTip("#username", "#nameTip", "");
                });
            return true;
        }
    }

    function isEmailValid(){
        if(email.length<1)
            return changeTip("#email", "#emailTip", "请输入邮箱");
        else if(!email_patten.test(email))
            return changeTip("#email", "#emailTip", "该邮箱格式有误！");
        else {
            $.post("http://119.29.203.44/tg/db_check/email.php", { email:email},
                function(data,status){
                    if(data==='Already existed.') return changeTip("#email", "#emailTip", "该邮箱已被占用!");
                    else return changeTip("#email", "#emailTip", "");
                });
            return true;
        }
    }

    function isPhoneValid(){
        if(phone.length<1)
            return changeTip("#phone", "#phoneTip", "请输入手机号(11位)");
        else if(!phone_patten.test(phone))
            return changeTip("#phone", "#phoneTip", "该手机号格式有误！");
        else {
            $.post("http://119.29.203.44/tg/db_check/phone.php", { email:email},
                function(data,status){
                    if(data==='Already existed.') return changeTip("#phone", "#phoneTip", "该手机号已被占用!");
                    else return changeTip("#phone", "#phoneTip", "");
                });
            return true;
        }
    }

    function isPwdValid(){
        if(password.length < 7 || password.length > 30) return changeTip("#password1", "#passwordTip", "密码需要7-30个字符");
        else return changeTip("#password1", "#passwordTip", "");
    }

    function isPwdRepeatValid(){
        if (!isPwdValid()){
            $("#password1").css("border-color", "red");
            $("#password2").css("border-color", "red").text("请先确保上一栏的密码格式正确！");
            return false;
        }else if(password2.length === 0)
            return changeTip("#password2", "#passwordTip2", "请再次输入密码！");
        else if(password !== pass_repeat)
            return changeTip("#password2", "#passwordTip2", "密码不一致！");
        else
            return changeTip("#password2", "#passwordTip2", "");
    }

    $(function () {
        $("#username").on('input',function(e){
            name = document.getElementById('username').value;
            isNameValid();
        });
        $("#email").on('input',function(e){
            email = document.getElementById('email').value;
            isEmailValid();
        });
        $("#phone").on('input',function(e){
            phone = document.getElementById('phone').value;
            isPhoneValid();
        });
        $("#password1").on('input',function(e){
            password = document.getElementById('password1').value;
            isPwdValid();
        });
        $("#password2").on('input',function (e) {
            pass_repeat = document.getElementById('password2').value;
            isPwdRepeatValid();
        })
    });

    var registerForm = document.getElementById('registerForm');
    var register = document.getElementById('btnSubmit');

    registerForm.onsubmit = function() {
        return isValidForm();
    };
    function isValidForm(){
        if(isNameValid() && isEmailValid() && isPhoneValid() && isPwdValid() && isPwdRepeatValid()){
            document.getElementById('password1').value = md5(document.getElementById('password1').value);
            document.getElementById('password2').value = md5(document.getElementById('password2').value);
            return true;
        }else return false;
    }
</script>
</html>