<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-theme.min.css') }}" type="text/css">
    <script language="JavaScript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/study-discuss.css') }}" type="text/css">
    <title>Online Learning|在线学习</title>
</head>
<body>
<nav class="navbar nav_bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand index_title">Online Learning | 在线学习</span>
        </div>
        <div class="nav navbar-left back-index">
            <a href="{{ url_for('index') }}">首页</a>
            <span style="margin-left: 1em;margin-right: 1em"></span>
            <a href="{{ url_for('course') }}">课程</a>
        </div>
            <form class="navbar-form navbar-left" action="{{ url_for('searchCourse') }}">
                <div class="form-group search">
                    <input type="text" class="form-control" placeholder="搜索感兴趣的课程" name="course" style="width: 300px">
                    <button type="submit" class="btn search_btn" value="">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="drop_down" style="padding-right: 1em">
                    <a href="{{ url_for('personalCenter') }}" >个人中心</a>
                </li>
                <li class="dropdown drop_down">
                    <a href="#" class="dropdown-toggle" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ><a href="{{ url_for('setting') }}">设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('logout') }}">退出</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('help') }}">帮助</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="course-navbar">
        <div class="item-box">
                <div class="course-item-box-img">
                    <img alt="{{ course.courseTitle }}"
                         src="{{ url_for('static', filename = course.courseImage) }}">
                </div>
                <div class="course-item-box-title">
                    <span class="">{{ course.courseTitle }}</span>
                </div>
        </div>
        <ul class="course-tab-list">
            <li class="course-tab-list-item">
                <a href="{{ url_for('couInfo.courseInfo', _external = True, courseId = course.courseId) }}">授课大纲</a>
            </li>

            <!--当用户点击学习区时，跳转到study-index.html来让学生参加该课程的学习-->
            <li class="course-tab-list-item">
                <a href="{{ url_for('couInfo.resourceInfo', _external = True, courseId = course.courseId) }}">学习区</a>
            </li>
            <li class="course-tab-list-item current">
                <a href="{{ url_for('couInfo.discussAll', _external = True, courseId = course.courseId) }}">讨论区</a>
            </li>
        </ul>
    </div>
    <div class="course-content-container">
        <div class="course-content-box">
            <div class="discuss-title">
                <a href="{{ url_for('couInfo.discussAll', _external =True, courseId = course.courseId) }}">讨论区</a> > <a
                    href="{{ url_for('couInfo.video', _external = True, courseId = course.courseId, chapId = chapter.chapId) }}">{{ chapter.chapName }}</a>
            </div>
            <div class="add-comment-box input-box">
                <textarea form="add-comment-form" name="commentArea" title="发表评论" placeholder="发表评论" class="comment-text"></textarea>
                <form id="add-comment-form" class="comment-form" method="post">
                    <input class="btn btn-large btn-comment" type="submit" value="发&nbsp;&nbsp;&nbsp;&nbsp;表"
                           id="submit"/>
                </form>
            </div>
            <div class="all-comment-content">
                <div class="comment-title">
                    <span>全部讨论</span>
                </div>
                <div class="comment-content-box">
                    <!--从数据库中获取该课程的所有评论-->
                    <ul class="comment-list">
                        {% for comment in comments %}
                            <li class="comment-list-item">
                                <!--课程内容-->
                                <div class="comment-item">
                                    <a href="{{ url_for('couInfo.chapCommentDetail', _external = True, cmtId = comment.cmtId, courseId = comment.courseId, chapId = comment.chapId) }}">{{ comment.cmtContent }}</a>
                                </div>
                                <!--评论人-->
                                <span class="comment-user">{{ comment.userName }}</span>
                                <!--评论时间-->
                                <span class="comment-time">于<span>{{ comment.submitTime }}</span>发表</span>
                                <!--评论的回复数-->
                                <span class="reply-num">0</span><span class="reply">回复 </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>