
{% for reply in replys %}
<li class="reply-list-item">
                            <!--课程内容-->
                            <div class="reply-item">
                                <span>{{ reply.userName }}</span>
                            </div>
                            <!--评论人-->
                            <span class="reply-user">许娅男</span>
                            <!--评论时间-->
                            <span style="margin-left: 3%;font-size: 1.15em">于<span class="reply-time">
                                2017年12月19日</span>发表</span>
                            <div class="test">
                                <div class="add-reply-btn">
                                    <a>评论</a>
                                </div>
                                <div class="add-reply-box reply-box">
                                    <textarea title="发表评论" class="reply-text" autofocus></textarea>
                                    <form class="reply-form" method="post">
                                        <input class="btn btn-large btn-reply" type="submit" value="评论"/>
                                        <div class="back-reply-btn">
                                            <a>取消</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="reply-reply">
                                <ul class="reply-reply-list">
                                    <li class="reply-reply-list-item">
                                        <!--课程内容-->
                                        <div class="reply-reply-item">
                                            <span>哇！天才</span>
                                        </div>
                                        <!--评论人-->
                                        <span class="reply-reply-user">许娅男</span>
                                        <!--评论时间-->
                                        <span style="margin-left: 3%;font-size: 1.15em">
                                            于<span class="reply-reply-time">2017年12月19日</span>发表</span>
                                    </li>
                                    <li class="reply-reply-list-item">
                                        <!--课程内容-->
                                        <div class="reply-reply-item">
                                            <span>哇！天才</span>
                                        </div>
                                        <!--评论人-->
                                        <span class="reply-reply-user">许娅男</span>
                                        <!--评论时间-->
                                        <span style="margin-left: 3%;font-size: 1.15em">
                                            于<span class="reply-reply-time">2017年12月19日</span>发表</span>
                                    </li>
                                    <li class="reply-reply-list-item">
                                        <!--课程内容-->
                                        <div class="reply-reply-item">
                                            <span>哇！天才</span>
                                        </div>
                                        <!--评论人-->
                                        <span class="reply-reply-user">许娅男</span>
                                        <!--评论时间-->
                                        <span style="margin-left: 3%;font-size: 1.15em">
                                            于<span class="reply-reply-time">2017年12月19日</span>发表</span>
                                    </li>
                                </ul>
                            </div>
                        </li>